.todolist {
    background-color: #b4acba;
    margin-top: 20px;
    box-shadow: 4px 4px 7px black;
}

.list {
    padding: 8px;
    margin: 3px;
    text-align: center;
}

.item {
    list-style: none;
    font-size: 1.2rem;
    font-family: "Palatino Linotype";
    border-bottom: #3d4255 2px solid;
}

.btnBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn {
    font-size: 1.3rem;
    padding: 5px;
    background-color: #723753;
    color: whitesmoke;
}

.deleteBtn {
    font-weight: 300;
    font-family: Arial, sans-serif;
    margin-left: 2%;
}

.deleteBtn::before {
    content: 'x';
    color: #111010;
}