@import "../../sass/extensions";
@import "../../sass/variables";

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &_white {
    background-color: white;
    color: black;
  }

  &_dark {
    background-color: black;
    color: white;
  }

  &_green {
    background-color: #b0a7a7;
    color: #537e0a;
  }
}

.container {
  @extend %container;
  position: relative;
  height: 100vh;

  h2 {
    text-align: center;
  }
}