.msgWrapper {
    position: relative;
    margin-left: 70px;
    margin-bottom: 25px;
}

.avatar {
    position: absolute;
    left: -70px;
    bottom: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../../img/linuxava.png") center center no-repeat;
    background-size: cover;
}

.msg_block {
    width: 500px;
    height: auto;
    background-color: #3d4255;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 7px;
}

.user {
    color: chartreuse;
    font-size: .9rem;
    text-align: left;
}

.text {
    line-height: 1.1rem;
    color: whitesmoke;
}

.time {
    color: #a09b9b;
    text-align: right;
}